<div>
  <form class="settings-form">
    <input type="text" name="max" [ngModel]='maxRecords' (ngModelChange)="maxRecordsChange($event)" placeholder="Max Records Displayed"/>
    <input type="password" name="perPage" [ngModel]='recordsPerPage'  (ngModelChange)="perPageChange($event)" placeholder="Number Of Records Per Page"/>
    <P>Include Incomplete Results?</P>
      <div>
        <input type="checkbox" id="yes" name="yesBox">
        <label ofr="yesBox">Yes</label>
      </div>
      <div>
        <input type="checkbox" id="no" name="noBox">
        <label ofr="noBox">No</label>
      </div>
      <P>Include row numbers?</P>
      <div>
        <input type="checkbox" id="yes" name="yesBox">
        <label ofr="yesBox">Yes</label>
      </div>
      <div>
        <input type="checkbox" id="no" name="noBox">
        <label ofr="noBox">No</label>
      </div>
    <button type=button (click)="updateSettings()">Update Settings</button>
  </form>
</div>
